body {
  font-family: Arial, sans-serif;
  background: #5d3a6b;
  padding: 20px;
}
form {
  max-width: 420px;
  margin: 50px auto;
  background: #752d6c;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}
input,
select,
button {
  width: 100%;
  background-color: #ddaf0a;
  border: none;
  color: #964c9e;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #964c9e;
}

button:hover {
  background-color: #ddaf0a;
}
negocioFields {
  display: none;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #964c9e;
  border-radius: 5px;
  background: #964c9e;
}
h2,
p {
  text-align: center;
}
error-text {
  color: #d32f2f;
  font-size: 0.9em;
  margin-top: 4px;
  display: block;
}
success {
  color: #ddaf0a;
  background: #964c9e;
  border: 1px solid #ddaf0a;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}
