@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --background: rgba(247, 244, 255, 1);
  --body-normal-font-family: "Inter", Helvetica;
  --body-normal-font-size: 16px;
  --body-normal-font-style: normal;
  --body-normal-font-weight: 400;
  --body-normal-letter-spacing: 0px;
  --body-normal-line-height: 24px;
  --border: rgba(228, 228, 228, 1);
  --colors-labels-vibrant-controls-secondary: rgba(140, 140, 140, 1);
  --dark: rgba(11, 0, 43, 1);
  --heading-6-font-family: "Manrope", Helvetica;
  --heading-6-font-size: 24px;
  --heading-6-font-style: normal;
  --heading-6-font-weight: 700;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 32px;
  --heading-title-font-family: "Manrope", Helvetica;
  --heading-title-font-size: 20px;
  --heading-title-font-style: normal;
  --heading-title-font-weight: 700;
  --heading-title-letter-spacing: 0px;
  --heading-title-line-height: 28px;
  --link-normal-font-family: "Inter", Helvetica;
  --link-normal-font-size: 16px;
  --link-normal-font-style: normal;
  --link-normal-font-weight: 600;
  --link-normal-letter-spacing: 0.16px;
  --link-normal-line-height: 24px;
  --primary: rgba(89, 41, 235, 1);
  --secondary: rgba(244, 157, 45, 1);
  --secondary-30: rgba(255, 242, 224, 1);
  --text: rgba(109, 109, 109, 1);
  --title-hero-font-family: "Inter", Helvetica;
  --title-hero-font-size: 72px;
  --title-hero-font-style: normal;
  --title-hero-font-weight: 700;
  --title-hero-letter-spacing: -2.16px;
  --title-hero-line-height: 120.00000476837158%;
  --white: rgba(255, 255, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-labels-vibrant-controls-secondary: rgba(140, 140, 140, 1);
}

[data-colors-mode="dark"] {
  --colors-labels-vibrant-controls-secondary: rgba(115, 115, 115, 1);
}

[data-colors-mode="IC-light"] {
  --colors-labels-vibrant-controls-secondary: rgba(140, 140, 140, 1);
}

[data-colors-mode="IC-dark"] {
  --colors-labels-vibrant-controls-secondary: rgba(115, 115, 115, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
