.como-funciona {
  background-color: #ffffff;
  min-height: 1302px;
  min-width: 1280px;
  position: relative;
  width: 100%;
}

.como-funciona .rectangle-3 {
  background-color: var(--customprimary);
  box-shadow: 0px 0px 0px #00000033;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.como-funciona .rectangle-4 {
  background-color: #5515c0;
  box-shadow: 0px 0px 0px #00000033;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.como-funciona .ASSAP-MO {
  aspect-ratio: 1;
  height: 46px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 55px;
}

.como-funciona .text-wrapper-24 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1205px;
  letter-spacing: 0.30px;
  line-height: 32px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.como-funciona .vector {
  height: 142px;
  left: 678px;
  position: absolute;
  top: 325px;
  width: 18px;
}

.como-funciona .vector-2 {
  height: 144px;
  left: 680px;
  position: absolute;
  top: 327px;
  width: 82px;
}

.como-funciona .nav-list {
  align-items: center;
  background-color: #acacac08;
  display: inline-flex;
  gap: 24px;
  left: 88px;
  position: absolute;
  top: 12px;
}

.como-funciona .link {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.como-funciona .text-wrapper-25 {
  color: var(--colors-miscellaneous-segmented-control-selected-fill);
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.como-funciona .rectangle-5 {
  background-color: #f39d2c;
  height: 2px;
  left: calc(50.00% + 48px);
  position: absolute;
  top: 20px;
  width: 119px;
}

.como-funciona .text-wrapper-26 {
  color: #f39d2c;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.como-funciona .link-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.como-funciona .text-wrapper-27 {
  color: var(--colors-miscellaneous-segmented-control-selected-fill);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.como-funciona .link-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.como-funciona .mi-cuenta {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.como-funciona .estrella-b {
  aspect-ratio: 1;
  height: 192px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 192px;
}

.como-funciona .torre-b {
  aspect-ratio: 1;
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 477px;
  width: 139px;
}

.como-funciona .rayo-b {
  aspect-ratio: 1;
  height: 183px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 353px;
  width: 183px;
}

.como-funciona .LOGO-a-2 {
  aspect-ratio: 1;
  height: 67px;
  left: 1213px;
  object-fit: cover;
  position: absolute;
  top: 581px;
  width: 67px;
}

.como-funciona .text-wrapper-28 {
  color: var(--colors-miscellaneous-segmented-control-selected-fill);
  font-family: "Font Awesome 6 Free-Solid", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 612px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 15px;
}

.como-funciona .image {
  aspect-ratio: 1;
  height: 609px;
  left: 568px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 609px;
}
